
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family:'Merriweather', serif;
}

h1{
    color: fuchsia;
}

/* input,button{
    font: inherit;
} */

p{
    text-decoration:solid;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 2em;
    inline-size: ;
    line-height: 1.5em;
    letter-spacing:;
    word-spacing: ;
    font-weight:normal;
    font-style:normal;
}