/* reset */
* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}
/* page defaults */
html,body{
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}
/* general classes */
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-center {
    display: flex;
    justify-content: center;
}

.dark {
    background-color: aliceblue;
    color: violet;
}

/* specifics */
body{
    flex-direction: column;
    padding-bottom: 60px;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0.5rem 0.5rem; 
}

.navbar__title{
    width: 100%;
    font-size: 1.5rem;
}

.navbar__navmenu{
    width: 100%;
}

.navbar__list{
    text-align: center;
    display: block;
}
.navbar__list-item {
    display: inline-block;
    margin: 0.5rem;
}
.navbar__list-link {
    color: aliceblue;
}

.main{
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 1rem 0.5rem 0.5rem;
}

table,tr,th,td,caption{
    border: 1px solid blueviolet;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 00.5rem;
}