@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  padding: 10%;
  font-size: 1.5rem;
  /* color: blueviolet; */
  font-family:'Roboto', sans-serif;
}

input,button{
  font-size: inherit;
}

p{
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-style: oblique;

}