*{
    margin: 0;
    padding: 0;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 2em;
  border-bottom: 1px solid black;
}

h1,p{
    padding: 0.5em;
    /* margin: 1em; */
}

.tab{
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: blueviolet;
}

.tab:hover{
    background-color: blueviolet;
}

.active[data-tab-content]{
    margin-left: 20px;
    margin-right: 20px;
}