
        html{
                font-size: 27px;
            }
            body{
                background-color: #eee;
                color: blueviolet;
            }
        a{
            color: blue;
        }

        a:hover, a:active {
            color: brown;
        }